body{
    background-color: gray;
    font-family: 'Times New Roman', Times, serif
}

nav div{
    display: inline-block;
}

.main-drops{
    display: inline;
}

.task-title{
    font-weight: bold;
}

.list-nav-icon{
    padding: 0px !important;
    width: 30px !important;
    /* margin-right: 20px; */
}

.list-buttons{
    /* width: 5px; */
}

.fr-icon{
    height: 14px;
}



/* .display-btn{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 0.000001px solid rgba(0, 0, 0, 0.15);
    background: whitesmoke;

} */


.board-main{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    margin-left: 3%;
    width: 300px;
    height: 500px;
    text-align: center;
    
}


select{
    padding: 5px;
}

.task-priority-div{
    border: 0.000001px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.f-req-div{
    display: flex;
    margin: 5%;
    /* border: 0.000001px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px; */
}
.f-req-p{
    padding: 10px;
    border: 0.000001px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 0;
}

.add-icon-div{
    float: right;
    margin: 3px;
}

.app-dropdowns{
    position: absolute;
    display: inline;
    top: 10%;
    background: #fafafa;
    margin: 10px;
    padding: 10px;
    width: 15%;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    
}

.app-dropdowns select{
    /* float: right; */
    /* margin-left: 60%; */
    margin-left: 30%;
}

.list-icons{
    width: 16px !important;
}

.task-sub{
    width: 300px;
}

.list-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    margin-left: 18px;
}

.three-dots{
    /* display: flex; */
    /* justify-content: flex-end;
    align-items: center; */
    /* float: right; */
}

.list-nav p{
    font-size: 20px;
    display: inline-block;
}

.add-icon{
    height: 5px;
}

.task-bar-icon{
    height: 20px;
    width: 30px;
    padding: 10px;
}

nav{
    background-color: white;
    width:120%;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 15px;
}

select{
    margin: 15px;
}

.main-lists{
    display: flex;
    /* flex-wrap: wrap; */
    background-color: gray
}

.App{
    display: block;
    margin-bottom: 20px;
}



.task-container{
    padding: 10px;
}

.task-main{
    background-color: white;
    width: 315px;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-left: 20px;
    margin-top: 20px;

    display: flex;

    text-align: left;
    padding: 2px;
    
}

.task-cam{
    color: gray;
}

.task-main p{
    /* margin-top: 0; */
    margin-left: 15px;
}

.main-lists{
    /* margin-left: 10px; */
}

